<%- include('partials/header'); -%>
   <main>
        <div class="input-div">
            <form action="/" method="post">
                <input type="email" id="email" name="email" class="<%= errorClass %>" placeholder="Your email address...">
                <button type="submit" class="submit-btn">Notify Me</button>
                <p class="error-msg">
                    <%= errorMsg %>
                </p>
            </form>

        </div>
        <div class="image-container">
            <img class="chart" src="public/images/illustration-dashboard.png" alt="chart">
        </div>
   </main>

<%- include('partials/footer'); -%>