*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
}

body {
  color: #969696;
  color: hsl(0, 0%, 59%);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  text-align: center;
}

/*containers*/
nav, footer {
  padding: 5% 15%;
}

header, main {
  padding: 0 15%;
}

footer {
  font-size: 11px;
}

/*nav and header*/
span {
  color: #151f29;
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}

.main-paragraph {
  color: #151f29;
  color: hsl(209, 33%, 12%);
}

/*input field and button*/
form {
  margin-bottom: 5%;
}

input {
  border: 0.1rem solid #969696;
  border: 0.1rem solid hsl(0, 0%, 59%);
  border-radius: 1.875rem;
  height: 3.125rem;
  padding-left: 0.625rem;
  width: 60%;
}

input::placeholder {
  color: #969696;
  color: hsl(0, 0%, 59%);
}

.submit-btn {
  background: #4f7df3;
  background: hsl(223, 87%, 63%);
  border: none;
  border-radius: 30px;
  color:#fff;
  height: 3.375rem;
  text-align: center;
  width: 20%;
}

.submit-btn:hover {
  background: #c2d3ff;
  background: hsl(223, 100%, 88%);
}

/*social logo*/
.social-logo {
  padding: 1rem;
}

.icon-div {
  margin-bottom: 5%;
}

/*footer*/
.attribution a {
  color: #3e52a3;
  color: hsl(228, 45%, 44%);
}

.error-msg {
  color: #ff5263;
  color: hsl(354, 100%, 66%);
  font-size: 0.8rem;
}

.error-input {
  border: #f96262 0.1rem solid;
  border: hsl(0, 93%, 68%) 0.1rem solid;
}

/*tablet and ipad*/
 @media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  nav, footer {
      padding: 3% 10%;
    }
  
  header, main {
    padding: 0 10%;
  }

  input,
  .submit-btn {
    margin: 2%;
    width: 80%;
  }
 }

 /*mobile*/
 @media only screen and (max-width: 480px) {
   body {
     font-size: 14px;
   }

   nav,
   footer {
     padding: 2% 5%;
   }

   header,
   main {
     padding: 0 5%;
   }

  input,
  .submit-btn {
    width: 100%;
  }
 }